<a href="https://colab.research.google.com/github/jramso/poo-JAVA-IFES/blob/main/POOflix/Colab/GHHL_Contrat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# - POOFLIX - <br>

# Conexão com postgres e Relatorios do Sistema

## Instalando bibliotecas de acesso ao postgres, manipulação de dados e gráficos

In [ ]:
!pip install psycopg2-binary
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 7.7 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.5
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### Importando bibliotecas

In [13]:
import pandas as pd
import psycopg2 
from psycopg2 import Error

### Preenchendo dados de database

In [72]:
#Using Elephantsql.com
h="motty.db.elephantsql.com" #host
dt="mfdbjbho" #database name
u="mfdbjbho" #user database
pa="tXjGYj5HTRaOSbi-6oGfx20zGKRAeCP6" #password database

### Conectando e Criando as tabelas

In [80]:
  try:
    conn=psycopg2.connect(host=h,
                          database=dt,
                          user=u,
                          password=pa)

    cursor = conn.cursor()
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE ator
          (ID INT PRIMARY KEY     NOT NULL,
          NOME           VARCHAR(150)    NOT NULL, 
          NACIONALIDADE        VARCHAR(100)not null); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE categoria
          (ID INT PRIMARY KEY     NOT NULL,
          NOME           VARCHAR(150)    NOT NULL); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE serie
          (ID INT PRIMARY KEY     NOT NULL,
          TITULO           VARCHAR(150)    NOT NULL); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE CATEGSERIE
          (IDserie INT   NOT NULL,
          IDcateg int not null); '''
    # Execute a command: thi creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE PERSONAGEM
          (ID INT PRIMARY KEY     NOT NULL,
          NOME           VARCHAR(150)    NOT NULL); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE PERFORMANCE
          (ID SERIAL PRIMARY KEY     NOT NULL,
          IDep int   NOT NULL,
          IDpers int not null,
          IDator int not null); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE EPISODIO
          (ID INT PRIMARY KEY     NOT NULL,
          numEP int not null,
          TEMPORADA int not null,
          TITULO VARCHAR(100)   NOT NULL,
          RESUMO VARCHAR(500) not null); '''
    # Execute a command: thi creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")

  except (Exception, Error) as error:
      print("Error while connecting to PostgreSQL", error)
  finally:
      if conn:
          cursor.close()
          conn.close()
          print("PostgreSQL connection is closed")

Table created successfully in PostgreSQL
Table created successfully in PostgreSQL
Table created successfully in PostgreSQL
Table created successfully in PostgreSQL
Table created successfully in PostgreSQL
Table created successfully in PostgreSQL
Table created successfully in PostgreSQL
PostgreSQL connection is closed

In [19]:
conn


# Only if necessary

In [79]:
try:
    conn = psycopg2.connect(user=u,
                                password=pa,
                                host=h,
                                database=dt)

    cursor = conn.cursor()

    # Update single record now
    sql_delete_query = """Delete from Ator"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from Categoria"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from Episodio"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from Personagem"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from Performance"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from categserie"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from serie"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")

except (Exception, psycopg2.Error) as error:
    print("Error in Delete operation", error)

finally:
    # closing database connection.
    if conn:
        cursor.close()
        conn.close()
        print("PostgreSQL connection is closed")

65 Record deleted successfully
7 Record deleted successfully
0 Record deleted successfully
0 Record deleted successfully
0 Record deleted successfully
3 Record deleted successfully
1 Record deleted successfully
PostgreSQL connection is closed

#Criando Listas de dados .txt pra inserção

In [81]:
def criaLista(file):
  Lista=[]
  try:
    with open(file, "r+") as f:
      # Fazer algo com cada linha
      Lista=f.readlines()
    print("Lido")
  except FileNotFoundError:
    print("O arquivo não Existe");
  finally:
    return Lista;
    f.close()

ListaAtor=criaLista("tabator.txt")
ListaCat=criaLista("tabcategoria.txt")
ListaSerie=criaLista("tabserie.txt")
ListaCatSerie=criaLista("tabcategserie.txt")
ListaEP=criaLista("tabepisodio.txt")
ListaPerf=criaLista("tabperformance.txt")
ListaPers=criaLista("tabpersonagem.txt")

Lido
Lido
Lido
Lido
Lido
Lido
Lido

## Iniciando os inserts

In [82]:
try:
  conn=psycopg2.connect(host=h,
                        database=dt, 
                        user=u,
          password=pa)
  cursor = conn.cursor()
  
  for i in range(len(ListaAtor)):
    postgres_insert_query = """ INSERT INTO  ator(ID, nome, nacionalidade) VALUES (%s,%s,%s)"""
    insert=ListaAtor[i].split(";")
    id=insert[0]
    nome=insert[1]
    nacionalidade=insert[2]

    record_to_insert = (id,nome,nacionalidade)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into ator table")
  #-------------------------------------------------------------------
  for i in range(len(ListaCat)):
    postgres_insert_query = """ INSERT INTO  categoria(ID, nome) VALUES (%s,%s)"""
    insert=ListaCat[i].split(";")
    idC=insert[0]
    nomeC=insert[1]

    record_to_insert = (idC,nomeC)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into categoria table")
  #----------------------------------------------------------------
  for i in range(len(ListaSerie)):
    postgres_insert_query = """ INSERT INTO  serie(ID, titulo) VALUES (%s,%s)"""
    insert=ListaSerie[i].split(";")
    idS=insert[0]
    nomeS=insert[1]

    record_to_insert = (idS,nomeS)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into serie table")
  #----------------------------------------------------------------
  for i in range(len(ListaCatSerie)):
    postgres_insert_query = """ INSERT INTO  categSerie(IDserie, idcateg) VALUES (%s,%s)"""
    insert=ListaCatSerie[i].split(";")
    FKidS=insert[0]
    FKidCS=insert[1]
    record_to_insert = (FKidS,FKidCS)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into categserie table")
  #----------------------------------------------------------------
  for i in range(len(ListaEP)):
    postgres_insert_query = """ INSERT INTO  Episodio(ID,numEP,temporada,titulo, resumo) VALUES (%s,%s,%s,%s)"""
    insert=ListaEp[i].split(";")
    idEP=insert[0]
    numEP=insert[1]
    tempEP=insert[2]
    tituloEP=insert[3]
    resumoEP=insert[4]

    record_to_insert = (idEP,tituloEP,tempEP,resumoEP)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into episodio table")
  #---------------------------------------------------------------------------
  for i in range(len(ListaPers)):
    postgres_insert_query = """ INSERT INTO  Personagem(ID, nome) VALUES (%s,%s)"""
    insert=ListaPers[i].split(";")
    idP=insert[0]
    nomeP=insert[1]

    record_to_insert = (idP,nomeP)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into categoria table")
  #---------------------------------------------------------------------------
  for i in range(len(ListaPerf)):
    postgres_insert_query = """ INSERT INTO  Performance(IDep,idPers,idator) VALUES (%s,%s,%s)"""
    insert=ListaPerf[i].split(";")
    FKideP=insert[0]
    FKidPers=insert[1]
    FKidAtor=insert[2]
    record_to_insert = (FKideP,FKidPers,FKidAtor)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into categoria table")

  
except (Exception, psycopg2.Error) as error:
    print("Failed to insert record into mobile table", error)
  
finally:
    # closing database connection.
    if conn:
        cursor.close()
        conn.close()
        print("PostgreSQL connection is closed")

1 Record inserted successfully into ator table
2 Record inserted successfully into ator table
3 Record inserted successfully into ator table
4 Record inserted successfully into ator table
5 Record inserted successfully into ator table
6 Record inserted successfully into ator table
7 Record inserted successfully into ator table
8 Record inserted successfully into ator table
9 Record inserted successfully into ator table
10 Record inserted successfully into ator table
11 Record inserted successfully into ator table
12 Record inserted successfully into ator table
13 Record inserted successfully into ator table
14 Record inserted successfully into ator table
15 Record inserted successfully into ator table
16 Record inserted successfully into ator table
17 Record inserted successfully into ator table
18 Record inserted successfully into ator table
19 Record inserted successfully into ator table
20 Record inserted successfully into ator table
21 Record inserted successfully into ator table
22 Record inserted successfully into ator table
23 Record inserted successfully into ator table
24 Record inserted successfully into ator table
25 Record inserted successfully into ator table
26 Record inserted successfully into ator table
27 Record inserted successfully into ator table
28 Record inserted successfully into ator table
29 Record inserted successfully into ator table
30 Record inserted successfully into ator table
31 Record inserted successfully into ator table
32 Record inserted successfully into ator table
33 Record inserted successfully into ator table
34 Record inserted successfully into ator table
35 Record inserted successfully into ator table
36 Record inserted successfully into ator table
37 Record inserted successfully into ator table
38 Record inserted successfully into ator table
39 Record inserted successfully into ator table
40 Record inserted successfully into ator table
41 Record inserted successfully into ator table
42 Record inserted successfully into ator table
43 Record inserted successfully into ator table
44 Record inserted successfully into ator table
45 Record inserted successfully into ator table
46 Record inserted successfully into ator table
47 Record inserted successfully into ator table
48 Record inserted successfully into ator table
49 Record inserted successfully into ator table
50 Record inserted successfully into ator table
51 Record inserted successfully into ator table
52 Record inserted successfully into ator table
53 Record inserted successfully into ator table
54 Record inserted successfully into ator table
55 Record inserted successfully into ator table
56 Record inserted successfully into ator table
57 Record inserted successfully into ator table
58 Record inserted successfully into ator table
59 Record inserted successfully into ator table
60 Record inserted successfully into ator table
61 Record inserted successfully into ator table
62 Record inserted successfully into ator table
63 Record inserted successfully into ator table
64 Record inserted successfully into ator table
65 Record inserted successfully into ator table
1 Record inserted successfully into categoria table
2 Record inserted successfully into categoria table
3 Record inserted successfully into categoria table
4 Record inserted successfully into categoria table
5 Record inserted successfully into categoria table
6 Record inserted successfully into categoria table
7 Record inserted successfully into categoria table
1 Record inserted successfully into serie table
1 Record inserted successfully into categserie table
2 Record inserted successfully into categserie table
3 Record inserted successfully into categserie table
Failed to insert record into mobile table name 'ListaEp' is not defined
PostgreSQL connection is closed

# 9. Select das tabelas (Cada uma)

In [70]:
res = pd.read_sql_query("""select * from area """,conn)
res

InterfaceError: ignored